.dashboardTab {
	width: 820px;
	margin: auto;
	font-size: 12px;
}

.tab-content {
	padding: 10px;
	background-color: #eeeeee;
}

.fullTable {
	width: 100%;
	display: flex;
}

.columnContentLeft {
	width: 280px;
}
.columnContentLeft > table {
	width: 100%
}

.prevDiv {
	width: 32px;
	float: left;
}

.nextDiv {
	width: 32px;
	float: right;
}

.nextDiv > a {
	margin-left: 15px;
}

.prevDiv > a {
	margin-left: 2px;
}

.statusCell, .dateCell {
	width: 60px;
	height: 32px;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	background-color: white;
	border: 1px solid gray;
} 

.dateCell {
	background-image: url("../img/rowBackground.gif");
}

.otherCellLeft, .otherCellRight {
	width: 100%;
	height: 32px;
	font-size: 12px;
	text-align: left;
	padding-left: 8px;
	color: #444444;
	//background-color: #eeeeee;
	background-image: url("../img/rowBackground.gif");
	vertical-align: middle;

	border: 1px solid gray;
	border-right: none;

}
.otherCellRight {
	border-right: 1px solid gray;
	padding-left: 0px;
	border-left: none;
} 

.divCenter {
	float: left;
	width: 480px;
	overflow: auto;
	display: flex;
	//overflow-x: scroll;
}

.tableContentCenter {
	width: 100%;
}

.tableContentCenter > table {
	border: 1px solid gray;
}

.statusCell:hover > div {
	display: block;
}

.columnContentRight {
	width: 32px;
}
.columnContentRight > table {
	width: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

.popUp {
	display: none;
	position: absolute;
	z-index: 10;
	width: 35em;
	background-color: white;
	text-align: left;
	padding: 10px;
	border: 5px solid #eeeeee;
}

.nav-tabs.nav-justified>.active>a {
	background-color: #eeeeee;
	border-bottom-color: #eeeeee;
}

.nav-tabs.nav-justified>.active>a:hover {
	background-color: #eeeeee;
	border-bottom-color: #eeeeee;
}

.tableContentCenter.back.ng-hide-add,
.tableContentCenter.back.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
  margin-left: 100%;
}

.tableContentCenter.next.ng-hide-add,
.tableContentCenter.next.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block!important;
  //margin-left: -100%;
}

.tableContentCenter.ng-hide-add.back {
	margin-left: 0%;
}

.tableContentCenter.back.ng-hide-remove {
	margin-left: -100%;
}
.tableContentCenter.back.ng-hide-remove-active {
	margin-left: 0%;
}

.tableContentCenter.ng-hide-add.next {
	margin-left: 0%;
}
.tableContentCenter.ng-hide-add-active.next {
	margin-left: -100%;
}